
#hero{
  height: 90vh;
  background-image: $heroBgImg;
  background-size: cover;

  & .img-box{
    width: 60px;

    & > img{
      width:100%;
    }
  }

  h3{
    color: $secondary;
  }



}
