
h1{
  font-size: $fontUltra;
  color: $secondary;
}

h2{
  font-size: $fontBig;
  color: $primary
}
h3{
  font-size: $fontReg;
}

p{
  font-size: $fontReg;
  word-spacing: 3px;
}

a{
  color: $linkPrimary;
  text-decoration: none;

  &:visited{
    color: $linkPrimary;
  }

  &:hover{
    text-decoration: underline;
  }
}
