
// CONTAINERS

$container: 1200px;
$containerSide: 800px;
$containerSmall: 900px;

//FONT SIZE

$fontSmall: 16px;
$fontReg: 20px;
$fontBig: 30px;
$fontUltra: 45px;

// COLORS

$primary:#2C2C2C;
$secondary:#FFF;

// BUTTONS

// size
$btnSmall: 40px;
$btnReg: 60px;
$btnWide: 90px;
// padding
$btnPdSmall: 3px 5px;
$btnPdReg: 5px 8px;
$btnPdWide: 10px 32px;
//BG Color
$btnMainColor: transparent;
$btnAltColor: #0D66D0;
$btnAltColorDark: #0654ad;
// border:
$btnBrdThin: 1px;
$btnBrdReg: 3px;
$btnBrdThick: 5px;

// LINK & INPUT

//Colors
$linkPrimary: #0d66d0;
$linkPrimaryHover:#0d66d0;
$linkAlt:#0d66d0;
$linkAltHover:#0d66d0;

// Hero section

$heroBgImg: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
